.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 15s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.icon-square {
  width: 7rem;
  height: 3rem;
  border-radius: 1rem;
}

.carousel-item img {
  height: 300px; 
  object-fit: cover; 
}


#testimonial .container {
  margin-top: 50px;
 }


#pricing {
  margin-top: 50px; 
}

.carousel-img {
  height: 200px;
  width: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
}
.row {
justify-items: center;
align-items: center;
}
body{
background: lightgray
}
